$rem-base: 14px;
$ratio: 1.175;

$container-width: 80rem;

$default-type-family: 'Simplon Norm Trial', sans-serif;
$default-type-weight:  400;
$default-type-tracking: 0.2em;

$default-box-shadow: 0 2px 10px -4px rgba(0,0,0,0.1);
$default-border-color: lighten(#000, 24%);
$default-border-radius: 2px;
$thick-border-weight: 6px;

$color-primary: #3498db;
$color-secondary: #34495e;
$color-error: #e74c3c;
$color-warning: #f39c12;
$color-success: #27ae60;

$greys: #1f232b lighten(#1f232b, 5%) lighten(#1f232b, 15%) lighten(#1f232b, 25%) lighten(#1f232b, 45%) lighten(#1f232b, 60%) lighten(#1f232b, 76%) lighten(#1f232b, 81%);

$length-increments: 0.8 1.6 2.2 2.6 4.2 6.8 11 18 29 46 75;
$spacing-increments: 0.6 1.6 2.6 4.2 6.8 8 11 18 29 46 75;
