---
layout: default
---

<header>
  <div class="container py-3 px-2">
    <div class="mb-3">
      <div class="flex h-3 mb-2">
        <img src="/assets/decent-logo.svg" class="hp-100" /><super class="tn-1">&trade;</super>
      </div>
      <p class="tn-2 cg-4 uppercase tracked">A Functional CSS Library</p>
    </div>
    <a href="https://badge.fury.io/js/decent-scss">
      <img src="https://badge.fury.io/js/decent-scss.svg" />
    </a>
    <a class="github-button" href="https://github.com/decent-css/decent" data-count-href="/decent-css/decent/stargazers" data-count-api="/repos/decent-css/decent#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star decent-css/decent on GitHub">Star</a>  </div>
</header>

<section class="pt-8 mb-5">
  <div class="container px-2">
    <div class="row bb-7">
      <div class="md-col-6">
        <p class="t-4 tw-semibold mb-2">This is Functional CSS – f(scss).</p>
        <p class="t-1 pb-4">Alternatively refered to as <i>Utility Classes</i>, the term <i>Functional CSS</i> came about as we found that we could use this method to develop entire websites and applications.</p>
      </div>
    </div>
    <!--
    <nav class="mln-1 ">
      <a class="uppercase tracked p-1">Overview</a>
      <a class="uppercase tracked p-1">Functional</a>
      <a class="uppercase tracked p-1">Examples</a>
    </nav>
    -->
  </div>
</section>


<section class="container pb-5 px-1 px-1">
  {% include section.html
     heading="Getting Started"
     body="Our goal with Decent is to provide a functional CSS library that makes no assumption about your design. It works best when built into your asset compliation, allowing you to utilize the settings and configure the classes to meet your exact needs."
  %}

  <h3 class="t-1 tw-semibold mb-2 px-2">Install Decent</h3>
  <div class="md-col-6">
    <div class="row cbgg-8 p-2 ">
      <pre><code>$ npm install decent-scss</pre></code>
    </div>
    <div class="row p-2 mb-2">
      <p class="tn-1 mb-1">or if you're not using NPM in your project:</p>
      <a href="https://github.com/decent-css/decent/archive/master.zip" class="tn-1 c-black tw-semibold uppercase tracked underline p-1 mln-1">Download the Source</a>
    </div>

    <h3 class="t-1 tw-semibold mb-2 px-2">Import it into your Build</h3>
    <div class="row cbgg-8 p-2">
      <pre><code><span class="cg-5">// Import settings before Decent modules.</span>
@import 'settings';

<span class="cg-5">// Then import Decent.</span>
@import '<span class="cg-5">path/to/decent-scss/</span>modules/all'</span>;</pre></code>
    </div>
  </div>
</section>

<section class="container pb-5 px-1">

  {% include section.html
     heading="Grid"
     body="Decent features a flexible and infinitely nestable grid based on percentage widths. Grid classes can be used in both a float-style grid and within flexbox containers."
  %}

  <div class="row cbgg-8 p-2">
    <div class="row ta-center mb-1 mln-1">
      <div class="col-2 pl-1"><div class="py-1 cbgg-2"><code class="code--dark">.col-2</code></div></div>
      <div class="col-2 pl-1"><div class="py-1 cbgg-2"><code class="code--dark">.col-2</code></div></div>
      <div class="col-2 pl-1"><div class="py-1 cbgg-2"><code class="code--dark">.col-2</code></div></div>
      <div class="col-2 pl-1"><div class="py-1 cbgg-2"><code class="code--dark">.col-2</code></div></div>
      <div class="col-2 pl-1"><div class="py-1 cbgg-2"><code class="code--dark">.col-2</code></div></div>
      <div class="col-2 pl-1"><div class="py-1 cbgg-2"><code class="code--dark">.col-2</code></div></div>
    </div>
    <div class="row mln-1 mtn-1 ta-center">
      <div class="md-col-3 pl-1 mt-1"><div class="py-1 cbgg-2"><code class="code--dark">.md-col-3</code></div></div>
      <div class="md-col-3 pl-1 mt-1"><div class="py-1 cbgg-2"><code class="code--dark">.md-col-3</code></div></div>
      <div class="md-col-6 pl-1 mt-1"><div class="py-1 cbgg-2"><code class="code--dark">.md-col-6</code></div></div>
    </div>
    <div class="row mln-1 mtn-1 ta-center">
      <div class="lg-col-8 lg-push-2 pl-1 mt-1"><div class="py-1 cbgg-2"><code class="code--dark">.lg-col-6.lg-push-2</code></div></div>
    </div>
  </div>

  {% include snippet.html
    markup='<div class="container">
  <div class="clearfix">
    <div class="col-2">...</div>
    <div class="col-2">...</div>
    <div class="col-2">...</div>
    <div class="col-2">...</div>
    <div class="col-2">...</div>
    <div class="col-2">...</div>
    <div class="col-2">...</div>
  </div>

  <div class="clearfix">
    <div class="md-col-3">...</div>
    <div class="md-col-3">...</div>
    <div class="md-col-6">...</div>
  </div>

  <div class="clearfix">
    <div class="lg-col-8 lg-push-2">...</div>
  </div>
</div>'
    settings='$container-width: 60rem;
      $columns: 60rem;
    '
  %}
</section>

<section class="container py-4 px-1" id="flexbox">

  {% include section.html
     heading="Flexbox"
     body="Decent features an infinitely nestable grid based on percentage widths. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor."
  %}

  <div class="flex flex-wrap mln-1">
    <div class="col-4 pl-1 mb-1">
      <div class="flex items-start cbgg-8 p-2">
        <div class="h-4 wp-100 cbgg-2"></div>
        <div class="h-6 wp-100 cbgg-2 ml-1"></div>
        <div class="h-5 wp-100 cbgg-2 ml-1"></div>
      </div>
      <div class="row p-2">
        <p class="tn-3 tracked uppercase mb-1 cg-4 antialiased">Markup</p>
        <pre class="cbgg-8 wp-100 p-2"><code>&lt;div class="<span class="tw-bold">flex items-start</span>">
  &lt;div>...&lt;/div>
  &lt;div>...&lt;/div>
  &lt;div>...&lt;/div>
&lt;/div></code></pre>
      </div>
    </div>
    <div class="col-4 pl-1 mb-1">
      <div class="flex items-center cbgg-8 p-2">
        <div class="h-4 wp-100 cbgg-2"></div>
        <div class="h-6 wp-100 cbgg-2 ml-1"></div>
        <div class="h-5 wp-100 cbgg-2 ml-1"></div>
      </div>
      <div class="row p-2">
        <p class="tn-3 tracked uppercase mb-1 cg-4 antialiased">Markup</p>
        <pre class="cbgg-8 wp-100 p-2"><code>&lt;div class="<span class="tw-bold">flex items-center</span>">
  &lt;div>...&lt;/div>
  &lt;div>...&lt;/div>
  &lt;div>...&lt;/div>
&lt;/div></code></pre>
      </div>
    </div>
    <div class="col-4 pl-1 mb-1">
      <div class="flex items-end cbgg-8 p-2">
        <div class="h-4 wp-100 cbgg-2"></div>
        <div class="h-6 wp-100 cbgg-2 ml-1"></div>
        <div class="h-5 wp-100 cbgg-2 ml-1"></div>
      </div>
      <div class="row p-2">
        <p class="tn-3 tracked uppercase mb-1 cg-4 antialiased">Markup</p>
        <pre class="cbgg-8 wp-100 p-2"><code>&lt;div class="<span class="tw-bold">flex items-end</span>">
  &lt;div>...&lt;/div>
  &lt;div>...&lt;/div>
  &lt;div>...&lt;/div>
&lt;/div></code></pre>
      </div>
    </div>
  </div>
</section>

<section class="container py-4 px-1" id="position">
  {% include section.html
     heading="Positioning"
     body="Decent features an infinitely nestable grid based on percentage widths. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor."
  %}

  <div class="flex mln-1">
    <div class="wp-100 pl-1 mb-2">
      <div class="h-8 cbgg-8 relative">
        <div class="wp-20 h-5 cbgg-2 m-2 absolute top-0 left-0"></div>
        <div class="wp-20 h-5 cbgg-2 m-2 absolute top-0 right-0"></div>
        <div class="wp-20 h-5 cbgg-2 m-2 absolute bottom-0 left-0"></div>
        <div class="wp-20 h-5 cbgg-2 m-2 absolute bottom-0 right-0"></div>
        <div class="wp-20 h-5 cbgg-2 absolute origin-center top-50 left-50"></div>
      </div>
      <div class="row p-2">
        <p class="tn-3 tracked uppercase mb-1 cg-4 antialiased">Markup</p>
        <pre class="cbgg-8 wp-100 p-2"><code>&lt;div class="<span class="tw-bold">relative</span>">
  &lt;div class="<span class="tw-bold">absolute top-0 left-0</span>">...&lt;/div>
  &lt;div class="<span class="tw-bold">absolute top-0 right-0</span>">...&lt;/div>
  &lt;div class="<span class="tw-bold">absolute bottom-0 left-0</span>">...&lt;/div>
  &lt;div class="<span class="tw-bold">absolute bottom-0 right-0</span>">...&lt;/div>
  &lt;div class="<span class="tw-bold">absolute origin-center top-50 left-50</span>">...&lt;/div>
&lt;/div></code></pre>
      </div>
    </div>
    <!--
    <div class="wp-100 pl-1">
      <div class="ratio-16_9 cbgg-8 relative">
        <div class="wp-40 hp-40 cbgg-2 m-1 absolute origin-center left-50 top-50"></div>
      </div>
      <div class="cbgg-8 p-2 bt-thick-white">
        <pre><code>&lt;div class="<span class="tw-bold">relative</span>"></code></pre>
      </div>
    -->
    </div>

    <!--
    <div class="wp-100 pl-1 mb-2">
      <div class="ratio-16_9 cbgg-8 mb-1 relative">
        <div class="wp-40 hp-40 cbgg-2 absolute origin-center top-50 left-50"></div>
      </div>
      <pre class="mb-2"><code class="code__single">.origin-center.top-50.left-50</code></pre>
    </div>
    -->
  </div>
</section>

<section class="container py-4 px-1">
  {% include section.html
    heading="Lengths"
    body="The lengths module provides fixed, percentage, min, and max widths and heights. The classes are configuragble by a SCSS variable list to allow for an infinite number of increments – though we recommend limiting the number of increments to about 10 based off a <a href='//www.modularscale.com/'>modular scale</a>."
  %}

  <div class="p-2 cbgg-8 o-auto">
    <div class="h-1 w-1 cbgg-2 mb-1"></div>
    <div class="h-1 w-2 cbgg-2 mb-1"></div>
    <div class="h-1 w-3 cbgg-2 mb-1"></div>
    <div class="h-1 w-4 cbgg-2 mb-1"></div>
    <div class="h-1 w-5 cbgg-2 mb-1"></div>
    <div class="h-1 w-6 cbgg-2 mb-1"></div>
    <div class="h-1 w-7 cbgg-2 mb-1"></div>
    <div class="h-1 w-8 cbgg-2 mb-1"></div>
    <div class="h-1 w-9 cbgg-2 mb-1"></div>
    <div class="h-1 w-10 cbgg-2 mb-1"></div>
    <div class="h-1 w-11 cbgg-2 mb-1"></div>
  </div>
  <div class="flex">
    <div class="wp-100 p-2">
      <p class="tn-3 tracked uppercase mb-1 cg-4 antialiased">Markup</p>
      <pre class="cbgg-8 wp-100 p-2"><code>&lt;div class="<span class="tw-bold">relative</span>">
    &lt;div class="<span class="tw-bold">w-1</span>"><span class="cg-5">  &lt;!-- 0.8rem --></span> &lt;/div>
    &lt;div class="<span class="tw-bold">w-2</span>"><span class="cg-5">  &lt;!-- 1.6rem --></span> &lt;/div>
    &lt;div class="<span class="tw-bold">w-3</span>"><span class="cg-5">  &lt;!-- 2.2rem --></span> &lt;/div>
    &lt;div class="<span class="tw-bold">w-4</span>"><span class="cg-5">  &lt;!-- 2.6rem --></span> &lt;/div>
    &lt;div class="<span class="tw-bold">w-5</span>"><span class="cg-5">  &lt;!-- 4.2rem --></span> &lt;/div>
    &lt;div class="<span class="tw-bold">w-6</span>"><span class="cg-5">  &lt;!-- 6.8rem --></span> &lt;/div>
    &lt;div class="<span class="tw-bold">w-7</span>"><span class="cg-5">  &lt;!--  11rem --></span> &lt;/div>
    &lt;div class="<span class="tw-bold">w-8</span>"><span class="cg-5">  &lt;!--  18rem --></span> &lt;/div>
    &lt;div class="<span class="tw-bold">w-9</span>"><span class="cg-5">  &lt;!--  29rem --></span> &lt;/div>
    &lt;div class="<span class="tw-bold">w-10</span>"><span class="cg-5"> &lt;!--  46rem --></span> &lt;/div>
    &lt;div class="<span class="tw-bold">w-11</span>"><span class="cg-5"> &lt;!--  75rem --></span> &lt;/div>
  &lt;/div></code></pre>
    </div>
    <div class="wp-100 p-2">
      <p class="tn-3 tracked uppercase mb-1 cg-4 antialiased">Settings</p>
      <pre class="cbgg-8 wp-100 p-2"><code>$length-increments: 0.8 1.6 2.2 2.6 4.2 6.8 11 18 29 46 75;</code></pre>
    </div>
  </div>
</section>

<section class="container py-4 px-1">
  {% include section.html
    heading="Spacing"
    body="Similar to lengths, spacing can be configured by a single SASS variable list that we recommend basing off a <a href='//www.modularscale.com/'>modular scale</a>. Having pre-built classes of increments makes adding spacing both easy and consistent – ending the endless arbitrary margin and padding values that inevitably end up in stylesheets."
  %}
</section>

<section class="container py-4 px-1">
  {% include section.html
    heading="Typography"
    body=""
  %}

  <div class="flex mb-4">
    <div class="wp-100 ml-1">
      <div class="wp-100 cbgg-8 mb-1 flex items-baseline">
        <pre class="w-6 tn-1 py-1 px-2"><code class="tw-bold">.t-10</code></pre>
        <p class="t-10 pt-2 pl-2 pb-1 pr-5 bl-thick-white">Lazy Fox</p>
      </div>
      <div class="wp-100 cbgg-8 mb-1 flex items-baseline">
        <pre class="w-6 tn-1 py-1 px-2"><code class="tw-bold">.t-9</code></pre>
        <p class="t-9 pt-2 pl-2 pb-1 pr-5 bl-thick-white">Lazy Fox</p>
      </div>
      <div class="wp-100 cbgg-8 mb-1 flex items-baseline">
        <pre class="w-6 tn-1 py-1 px-2"><code class="tw-bold">.t-8</code></pre>
        <p class="t-8 pt-2 pl-2 pb-1 pr-5 bl-thick-white">Lazy Fox</p>
      </div>
      <div class="wp-100 cbgg-8 mb-1 flex items-baseline">
        <pre class="w-6 tn-1 py-1 px-2"><code class="tw-bold">.t-7</code></pre>
        <p class="t-7 pt-2 pl-2 pb-1 pr-5 bl-thick-white">Lazy Fox</p>
      </div>
      <div class="wp-100 cbgg-8 mb-1 flex items-baseline">
        <pre class="w-6 tn-1 py-1 px-2"><code class="tw-bold">.t-6</code></pre>
        <p class="t-6 pt-2 pl-2 pb-1 pr-5 bl-thick-white">Lazy Fox</p>
      </div>
      <div class="wp-100 cbgg-8 mb-1 flex items-baseline">
        <pre class="w-6 tn-1 py-1 px-2"><code class="tw-bold">.t-5</code></pre>
        <p class="t-5 pt-2 pl-2 pb-1 pr-5 bl-thick-white">Lazy Fox</p>
      </div>
      <div class="wp-100 cbgg-8 mb-1 flex items-baseline">
        <pre class="w-6 tn-1 py-1 px-2"><code class="tw-bold">.t-4</code></pre>
        <p class="t-4 pt-2 pl-2 pb-1 pr-5 bl-thick-white">Lazy Fox</p>
      </div>
      <div class="wp-100 cbgg-8 mb-1 flex items-baseline">
        <pre class="w-6 tn-1 py-1 px-2"><code class="tw-bold">.t-3</code></pre>
        <p class="t-3 pt-2 pl-2 pb-1 pr-5 bl-thick-white">Lazy Fox</p>
      </div>
      <div class="wp-100 cbgg-8 mb-1 flex items-baseline">
        <pre class="w-6 tn-1 py-1 px-2"><code class="tw-bold">.t-2</code></pre>
        <p class="t-2 pt-2 pl-2 pb-1 pr-5 bl-thick-white">Lazy Fox</p>
      </div>
      <div class="wp-100 cbgg-8 mb-1 flex items-baseline">
        <pre class="w-6 tn-1 py-1 px-2"><code class="tw-bold">.t-1</code></pre>
        <p class="t-1 pt-2 pl-2 pb-1 pr-5 bl-thick-white">Lazy Fox</p>
      </div>
      <div class="wp-100 cbgg-4 c-white antialiased mb-1 flex items-baseline">
        <pre class="w-6 tn-1 py-1 px-2"><code class="tw-bold">.t-0</code></pre>
        <p class="t-0 pt-2 pl-2 pb-1 pr-5 bl-thick-white">Lazy Fox</p>
      </div>
      <div class="wp-100 cbgg-8 mb-1 flex items-baseline">
        <pre class="w-6 tn-1 py-1 px-2"><code class="tw-bold">.tn-1</code></pre>
        <p class="tn-1 pt-2 pl-2 pb-1 pr-5 bl-thick-white">Lazy Fox</p>
      </div>
      <div class="wp-100 cbgg-8 mb-1 flex items-baseline">
        <pre class="w-6 tn-1  px-2"><code class="tw-bold">.tn-3</code></pre>
        <p class="tn-3 pt-2 pl-2 pb-1 pr-5 bl-thick-white">Lazy Fox</p>
      </div>
      <div class="wp-100 cbgg-8 mb-1 flex items-baseline">
        <pre class="w-6 tn-1 px-2"><code class="tw-bold">.tn-3</code></pre>
        <p class="tn-3 pt-2 pl-2 pb-1 pr-5 bl-thick-white">Lazy Fox</p>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="wp-100 pl-1">
      <p class="ta-center cbgg-8 p-2 mb-1 underline">Underline</p>
      <div class="wp-100 p-1">
        <p class="tn-3 tracked uppercase mb-1 cg-4 antialiased">Markup</p>
        <pre class="cbgg-8 wp-100 p-2"><code>&lt;p class="<span class="tw-bold">underline</span>">&lt;/p></code></pre>
      </div>
    </div>
    <div class="wp-100 pl-1">
      <p class="ta-center cbgg-8 p-2 mb-1 strikethrough">Strikethrough</p>
      <div class="wp-100 p-1">
        <p class="tn-3 tracked uppercase mb-1 cg-4 antialiased">Markup</p>
        <pre class="cbgg-8 wp-100 p-2"><code>&lt;p class="<span class="tw-bold">strikethrough</span>">&lt;/p></code></pre>
      </div>
    </div>
    <div class="wp-100 pl-1">
      <p class="ta-center cbgg-8 p-2 mb-1 uppercase tracked">Uppercase &amp; Tracked</p>
      <div class="wp-100 p-1">
        <p class="tn-3 tracked uppercase mb-1 cg-4 antialiased">Markup</p>
        <pre class="cbgg-8 wp-100 p-2"><code>&lt;p class="<span class="tw-bold">uppercase tracked</span>">&lt;/p></code></pre>
      </div>
    </div>
    <div class="wp-100 pl-1">
      <p class="ta-center cbgg-8 p-2 mb-1 italic">Italic</p>
      <div class="wp-100 p-1">
        <p class="tn-3 tracked uppercase mb-1 cg-4 antialiased">Markup</p>
        <pre class="cbgg-8 wp-100 p-2"><code>&lt;p class="<span class="tw-bold">italic</span>">&lt;/p></code></pre>
      </div>
    </div>
  </div>
</section>

<section class="container py-4 px-1">
  {% include section.html
    heading="Ratios"
    body="Decent features an infinitely nestable grid based on percentage widths. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor."
  %}

  <div class="p-2 cbgg-8">
    <div class="row mln-1">
      <div class="col-2 pl-1">
        <div class="ratio-1_2 cbgg-2 mb-1">
          <div class="flex hp-100 wp-100 pt-2 justify-center"><pre><code class="code--dark">.ratio-1_2</code></pre></div>
        </div>
      </div>
      <div class="col-2 pl-1">
        <div class="ratio-iphone6 cbgg-2 mb-1">
          <div class="flex hp-100 wp-100 pt-2 justify-center"><pre><code class="code--dark">.ratio-iphone6</code></pre></div>
        </div>
      </div>
      <div class="col-2 pl-1">
        <div class="ratio-1_1 cbgg-2 mb-1">
          <div class="flex hp-100 wp-100 pt-2 justify-center"><pre><code class="code--dark">.ratio-1_1</code></pre></div>
        </div>
      </div>
      <div class="col-2 pl-1">
        <div class="ratio-4_3 cbgg-2 mb-1">
          <div class="flex hp-100 wp-100 pt-2 justify-center"><pre><code class="code--dark">.ratio-4_3</code></pre></div>
        </div>
      </div>
      <div class="col-2 pl-1">
        <div class="ratio-5_3 cbgg-2 mb-1">
          <div class="flex hp-100 wp-100 pt-2 justify-center"><pre><code class="code--dark">.ratio-5_3</code></pre></div>
        </div>
      </div>
      <div class="col-2 pl-1">
        <div class="ratio-16_9 cbgg-2 mb-1">
          <div class="flex hp-100 wp-100 pt-2 justify-center"><pre><code class="code--dark">.ratio-16_9</code></pre></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container py-4 px-1">
  {% include section.html
    heading="Color"
    body="Decent features an infinitely nestable grid based on percentage widths. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor."
  %}

  <div class="flex mln-2">

    <div class="col-6 pl-2">
      <div class="flex flex-wrap">
        {% include blocks/color_swatch.html name="primary" %}
        {% include blocks/color_swatch.html name="secondary" %}
        {% include blocks/color_swatch.html name="success" %}
        {% include blocks/color_swatch.html name="warning" %}
        {% include blocks/color_swatch.html name="error" %}
      </div>

      <div class="wp-100 p-2">
        <p class="tn-3 tracked uppercase mb-1 cg-4 antialiased">Settings</p>
        <pre class="cbgg-8 wp-100 p-2"><code>$color-primary:   #3498db;
$color-secondary: #34495e;
$color-error:     #e74c3c;
$color-warning:   #f39c12;
$color-success:   #27ae60;

$greys:           #1f232b
                  lighten(#1f232b, 5%)
                  lighten(#1f232b, 15%)
                  lighten(#1f232b, 25%)
                  lighten(#1f232b, 45%)
                  lighten(#1f232b, 60%)
                  lighten(#1f232b, 76%)
                  lighten(#1f232b, 81%);</code></pre>
      </div>
    </div>

    <div class="col-6 pl-2">
      <div class="flex flex-wrap">
        {% include blocks/color_swatch.html name="black" %}
        {% include blocks/color_swatch.html name="1" grey="true" %}
        {% include blocks/color_swatch.html name="2" grey="true" %}
        {% include blocks/color_swatch.html name="3" grey="true" %}
        {% include blocks/color_swatch.html name="4" grey="true" %}
        {% include blocks/color_swatch.html name="5" grey="true" %}
        {% include blocks/color_swatch.html name="6" grey="true" %}
        {% include blocks/color_swatch.html name="7" grey="true" %}
        {% include blocks/color_swatch.html name="8" grey="true" %}
        {% include blocks/color_swatch.html name="white" %}
      </div>
    </div>
  </div>
</section>

<section class="container pb-4">
  {% include section.html
    heading="Display"
    body="WIP"
  %}
</section>

<section class="container pb-4">
  {% include section.html
    heading="Interaction"
    body="WIP"
  %}
</section>

<section class="container pb-4">
  {% include section.html
    heading="Overlay"
    body="WIP"
  %}
</section>

<section class="container pb-4">
  {% include section.html
    heading="Table"
    body="WIP"
  %}
</section>

<section class="container pb-4">
  {% include section.html
    heading="Reset"
    body="WIP"
  %}
</section>

<section class="container pb-4">
  {% include section.html
    heading="Style"
    body="WIP"
  %}
</section>


<footer>
  <div class="container px-2">
    <div class="bt-7 pt-2 pb-4">
      <p class="tn-1 cg-4 antialiased">Developed by <a class="cg-3" href="http://chrisgriffith.co">Chris Griffith</a> &amp; <a class="cg-3" href="http://seanwash.com">Sean Washington</a>.</p>
    </div>
  </div>
</footer>

<script async defer src="https://buttons.github.io/buttons.js"></script>
