<div class="flex items-center wp-100 cbgg-8">
  <div class="flex hp-100 w-7 {% if include.name == 'white' %}b-8{% endif %} {% if include.grey %}cbgg-{{ include.name }}{% else %}cbg-{{ include.name }}{% endif %}"></div>
  <div class="p-2 bl-thick-white">
    <pre><code><span class="tw-bold">.{% if include.grey %}cbgg-{{ include.name }}{% else %}cbg-{{ include.name }}{% endif %}</span>
<span class="tw-bold">.{% if include.grey %}cg-{{ include.name }}{% else %}c-{{ include.name }}{% endif %}</span></code></pre>
  </div>
</div>
